*,
*::before,
*::after
{
    box-sizing:content-box;
    font-size: 4vh;
}

.phone
{
    position: relative;
    top:5vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    height: 85vh;
    width: 25vw;
    border-radius: 15px;
    padding: 5px;
}

.camera
{
    background-color: red;
    width:12px;
    height: 12px;
    margin: 5px auto 10px;
    border-radius: 100%;
}

.screen
{
    width:80%;
    height:calc(0.64 * 100vh);
    background-color: aliceblue;
    padding: 5px;
    color: black;
    text-align: center;
}

.input
{
    width: 85%;
    height: 12%;
    border-radius: 9px;
    box-shadow: none;
    text-align: center;
    margin-top: 5px;
}

.buttons
{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 1vw;
    margin-top: 2vh;
}

.buttons > *
{
    border-radius: 8px;
}

#results-div
{
    margin-top: 1vh;
    background-color: #D3D1D2;
    height:57%;
    overflow-y: auto;
    padding: 0 5px;
}

#results-div p
{
    word-wrap: break-word;
}


